<html lang="zxx" class="no-js">

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/static/linearicons.css">
    <link rel="stylesheet" href="/static/font-awesome.min.css">
    <link rel="stylesheet" href="/static/magnific-popup.css">
    <link rel="stylesheet" href="/static/nice-select.css">
    <link rel="stylesheet" href="/static/animate.min.css">
    <link rel="stylesheet" href="/static/owl.carousel.css">

</head>

<body>
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            <a href="/">Can I Sue?</a>
        </h1>

        <br><br>

        <div class="form-group">
            {% if user_query %}
            <!-- If this is a search result, auto fill in the user's query -->
            <input id="input" type="text" name="search" class="form-control" placeholder="{{user_query}}">
            {%else %}
            <input id=" input" type="text" name="search" class="form-control" placeholder="Search Cases">
            {% endif %}
            <br>
            <!-- <input type="date" id="test" name="test" placeholder="Earliest Case Date"> -->
            <strong>Earliest Case Date:</strong>
            <input placeholder="Any Date Range" class="textbox-n" type="text" onfocus="(this.type='date')"
                onblur="(this.type='text')" id="earliestdate" name="earliestdate">
            <!-- Dropdown Menu for States -->
            <select id="jurisdisction" name="state">
                <option value="Federal">All Jurisdictions</option>
                <option value="ala">Alabama</option>
                <option value="alaska">Alaska</option>
                <option value="ariz">Arizona</option>
                <option value="ark">Arkansas</option>
                <option value="cal">California</option>
                <option value="colo">Colorado</option>
                <option value="conn">Connecticut</option>
                <option value="del">Delaware</option>
                <option value="dc">District Of Columbia</option>
                <option value="fla">Florida</option>
                <option value="ga">Georgia</option>
                <option value="haw">Hawaii</option>
                <option value="idaho">Idaho</option>
                <option value="ill">Illinois</option>
                <option value="ind">Indiana</option>
                <option value="iowa">Iowa</option>
                <option value="kan">Kansas</option>
                <option value="ky">Kentucky</option>
                <option value="la">Louisiana</option>
                <option value="me">Maine</option>
                <option value="md">Maryland</option>
                <option value="mass">Massachusetts</option>
                <option value="mich">Michigan</option>
                <option value="minn">Minnesota</option>
                <option value="miss">Mississippi</option>
                <option value="mo">Missouri</option>
                <option value="mont">Montana</option>
                <option value="neb">Nebraska</option>
                <option value="nev">Nevada</option>
                <option value="nh">New Hampshire</option>
                <option value="nj">New Jersey</option>
                <option value="nm">New Mexico</option>
                <option value="ny">New York</option>
                <option value="nc">North Carolina</option>
                <option value="nd">North Dakota</option>
                <option value="ohio">Ohio</option>
                <option value="okla">Oklahoma</option>
                <option value="or">Oregon</option>
                <option value="pa">Pennsylvania</option>
                <option value="ri">Rhode Island</option>
                <option value="sc">South Carolina</option>
                <option value="sd">South Dakota</option>
                <option value="tenn">Tennessee</option>
                <option value="tex">Texas</option>
                <option value="utah">Utah</option>
                <option value="vt">Vermont</option>
                <option value="va">Virginia</option>
                <option value="wash">Washington</option>
                <option value="w-va">West Virginia</option>
                <option value="wis">Wisconsin</option>
                <option value="wyo">Wyoming</option>
            </select>
        </div>
        <button type="submit" class="btn btn-info"> Search </button>
        <br>
        {% if not user_query %}
        <center>
            <div class="alert-disclaimer">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Disclaimer: The <i>Can I Sue?</i> team is not responsible for any legal decisions made by its users.
            </div>
        </center>
        {% endif %}
    </form>

    {% if debug_message == '' %}
    <!--Start -->
    <section class="feature-area">
        {% if casedata %}
        {% if casedata[0] == -1 %}
        <p>
            Case results API is currently down
        </p>
        {% else %}
        <div
            style="overflow: auto; width:45%; height:800px; display:inline-block; margin-left: 5%; border: 5px solid black ;">
            <div class=" container" style="text-align: center; width:95%">
                <h1 style="white-space: pre">{{caselaw_message}}</h1>
                <div class="feature-inner row">
                    {% for d in range(casedata|length) %}
                    <div class="feature-item" style="border-color:black;border-style: solid; margin-bottom: 10px;">
                        <i class="ti-crown" style="padding-top: 5px;"></i>
                        <h5>
                            {{casedata[d].case_name}}
                        </h5>
                        <br>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <p>
                                {{casedata[d].case_summary}}
                            </p>

                            <p>
                                <span style="font-weight: bold;
                                font-size: large;
                                font-style: normal;
                                color: rgba(9, 9, 9, 0.845)"> Score: {{casedata[d].score}} </span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% if data %}
        <div style="overflow: auto; width:45%; height:800px; display:inline-block; border: 5px solid black ;">
            <div class="container" style="text-align: center; width:95%">
                <h1 style="white-space: pre;">{{output_message}}</h1>
                <div class="feature-inner row">
                    {% for d in range(data|length) %}
                    <div class="feature-item" style="border-color:black;border-style: solid; margin-bottom: 10px;">
                        <i class="ti-crown" style="padding-top: 5px;"></i>
                        <h4>{{data[d].title}}</h4>
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                            <p>
                                {{data[d].selftext}}
                            </p>

                            <p>
                                <a href="{{data[d].url}}">Follow this discussion</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </section>
    {% elif is_error==true %}
    <center>
        <div class="alert-error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{debug_message}}
        </div>
    </center>
    {% endif %}
    <!-- End-->
    {% if (not casedata) and (not data) %}
    <div class="topcorner">
        <p>Project Name: {{ name }}</p>
        <p>Student Names: {{ netid }}</p>
    </div>
    {% endif %}
</body>

</html>